# macOS
.DS_Store

# Editor
*.swp
*.swo
*~
.vscode/
.idea/

# Build artifacts
_out/

# Kubernetes
kubeconfig
*.kubeconfig

# Talos
talosconfig
controlplane.yaml
worker.yaml
*.talosconfig

# Environment-specific config directories
talos-dev/
talos-amd/
